<div class="modal-content">
    <div class="modal-header">
        <p><h4>Пароль успешно изменён</h4></p>
    </div>
    <div class="modal-body">
        <input type="button" class="btn btn-primary" data-dismiss="modal" value="Закрыть" />
    </div>
</div>