@model b2bSwgroup.Models.ModelsForView.ViewResultConfirm
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
            <h2>Подтверждение</h2>
            <p>@Model.Message</p>
            @Html.ActionLink("Вход", "Login", "Account", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("На главную", "Index", "PositionCatalogs", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
