<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h2>Ошибка</h2>
    </div>
    <div class="modal-body">        
        <p>Для работы со спецификациями необходимо указать компанию в @Html.ActionLink("настройках", "Index", "Cabinet")</p>
    </div>
</div>

